<header class="header">
   <!--  <div class="modo-pruebas"><p>Sitio con sistema en modo pruebas</p></div> -->
    <div class="logo-entidad">
        <div class="logo"><img src="../../../assets/svg/logo-pias-blanco.svg"></div>

        <div class="entidad">
            <div class="entidad-tipo">
                <span class="material-icons pias-circle">
                    settings
                </span>
                <h4>Entidad administradora</h4>
            </div>
<!--             <div class="dominios-pias">
                <a class="simple-link" (click)="openDialog()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">language</mat-icon> <span>Dominios PIAS</span>
                  </a>
            </div>
            <div class="wiki">
                <span class="material-icons">
                    settings
                </span>
                WIKI
            </div>
            <div class="usuario">Francisco Valdebenito</div>
 -->        </div>
    </div>
</header>