<div class="contenedor">
    <div class="caja-login">
      <div class="row">
        <!-- lado izquierdo -->
        <div class="col-md-6 pias-login pias-bg-login">
            <h1>Bienvenid@</h1>
            <p>Plataforma Integrada de Asistencia Familiar, Subsidio Único Familiar y Regímenes relacionados</p>
            <img src="../../../assets/svg/logo-pias-blanco.svg">
        </div>

        <!-- lado derecho -->
        <div class="col-md-6 pias-login-right">
            <img src="../../../assets/svg/logo-pias-azul.svg">

                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código entidad</mat-label>
                      <input matInput placeholder="1008003424-9">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Usuario</mat-label>
                      <input matInput placeholder="V-Gonzalez78">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Contraseña</mat-label>
                      <input type="password" matInput placeholder="Ingrese contraseña">
                    </mat-form-field>
                    <button mat-flat-button color="warn">Ingresar</button>

                  </form>

                  <a class="simple-link-contrasena">
                    <span>Recuperar contraseña</span>
                  </a>

        </div>
      </div>
    </div>
</div>
