// colores primarios

$azul1:#0F69B4;
$azul2:#0B4582;
$azul3:#183A68;
$azul4:#07272D;
$calipso:#6CCCD6;
$celeste:#D3DEF2;
$amarillo:#F3D03E;
$rojo:#EB3C46;
$ocre:#F2E6D9;
$rosa:#FAD8E1;
$blanco:#FFFFFF;

// colores en escala de grises

$gris-05: #F0F0F0;
$gris-10: #F7F7F7;
$gris-20: #DEDEDE;
$gris-30: #C3C2C2;
$gris-40: #B9B9B9;
$gris-50: #BABABA;
$gris-70: #636566;
$gris-80: #4E4E4E;
$negro:#000000;


@font-face {
    font-family: "gobcl-light";
    src: url("../../../fonts/gobcl_bold-webfont.woff") format("woff2"), url("../../../fonts/gobcl_light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "gobcl-regular";
    src: url("../../../fonts/gobcl_regular-webfont.woff2") format("woff2"), url("../../../fonts/gobcl_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "gobcl-bold";
    src: url("../../../fonts/gobcl_bold-webfont.woff2") format("woff2"), url("../../../fonts/gobcl_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "gobcl-heavy";
    src: url("../../../fonts/gobcl_heavy-webfont.woff2") format("woff2"), url("../../../fonts/gobcl_heavy-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  //Familia Tipográfica

$gobcl-regular :'gobcl-regular';
$gobcl-bold :'gobcl-bold';
$gobcl-light:'gobcl-light';
$gobcl-heavy :'gobcl-heavy';


.separador{
    width: 100%;
    height: auto;
}

.al-10{
    height: 10px;
}
.al-30{
    height: 30px;
}
.al-50{
    height: 50px;
}
.al-70{
    height: 70px;
}
.al-100{
    height: 100px;
}


.ico-36{
  font-size: 36px;
}



nav.menu{
    height: calc(100% - 0px );
    background-color: $azul2;
    padding: 0 1% 0 5%;
    z-index: -99;
    font-family: "gobcl-regular";
}

nav.menu h5{
    font-size: 18px;
    text-transform: uppercase;
    color: #4672a0;
    font-family: "gobcl-bold";
}

nav.menu ul{
  margin-left: -14px;
}

nav.menu ul li{
  padding-bottom: 13px;
}

nav.menu ul li a{
  color: $blanco;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    color: $amarillo;
    text-decoration: underline;
  }
}

.menu-style{
  color: $amarillo;
}

.active{
  text-decoration: underline;
}

.simple-link-icon{
  color: #6CCCD6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;

  &:hover{
    color: #F3D03E;
  }
}

.simple-link-icon span{
  margin-right: 10px;
}

// Responsivo

@media only screen and (max-width: 1024px) {

  nav.menu h5{
    font-size: 16px;
}

  nav.menu ul li{
font-size: 14px !important;
margin-left: -10px;
line-height: 14px;
}

.simple-link-icon{
  font-size: 16px;
}

.simple-link-icon span{
  margin-right: 3px;
}
}

@media only screen and (max-width: 795px) {

  nav.menu h5{
    font-size: 14px;
}

  nav.menu ul li{
font-size: 14px !important;
margin-left: -10px;
}
}
  