<nav class="menu">
<div class="separador al-30"></div>

    <h5>RECONOCIMIENTO</h5>
    <ul>
        <li class="menu-style active">Consulta causante</li>
        <li class="menu-style"><a href="#">Actualizar causante</a></li>
        <li class="menu-style"><a href="#">Ingreso reconocimiento</a></li>
        <li class="menu-style"><a href="#">Extinción de reconocimiento</a></li>
        <li class="menu-style"><a href="#">Anulación de reconocimiento</a></li>
    </ul>
    
    <div class="separador al-10"></div>
    
    <h5>PANEL DE CONTROL</h5>
    <ul>
        <li class="menu-style"><a href="#">Usuarios</a></li>
        <li class="menu-style"><a href="#">Entidades administradoras</a></li>
    </ul>


    <a href="#" class="simple-link-icon">    
        <span class="material-icons">logout</span>
        Cerrar sesión
    </a>

    <div class="separador al-10"></div>

    <a href="#" class="simple-link-icon">    
        <span class="material-icons">vpn_key</span>
        Cambiar contraseña
    </a>
    
</nav>
